<p id="notice"><%= notice %></p>

<ul>
  <li>
    <strong>Nome:</strong> <%= @contact.name %>
</li>
<li>
  <strong>Email:</strong> <%= @contact.email %>
</li>
<li>
  <strong>Message:</strong> <%= @contact.message %>
</li>
</ul>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
